Projects/EyesOn24SC/EyesOn_GUI/Debug
Projects/EyesOn24SC/EyesOn_GUI/Release/*.o
Projects/EyesOn24SC/EyesOn_GUI/Release/Makefile
Projects/EyesOn24SC/EyesOn_GUI/Release/*.h
Projects/EyesOn24SC/EyesOn_GUI/Release/*.cpp